ashes==17.0.0
boltons==17.1.0
cairocffi==0.7.2
cffi==1.9.1
gspread==0.6.2
httplib2==0.10.3
numpy==1.11.3
oauth2client==4.0.0
olefile==0.44
pandas==0.19.2
Pillow==4.0.0
psycopg2==2.6.2
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycparser==2.17
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
rsa==3.4.2
six==1.10.0
SQLAlchemy==1.1.6
xlrd==1.0.0
XlsxWriter==0.9.6
