<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <style>
      {>camelid.css/}
    </style>
  </head>
  <body>
    <h1>{title}</h1>
    <table>
      <thead>
        <tr>
          <th>cmg_id</th> <th>name</th> <th>notes</th>
        </tr>
      </thead>
      <tbody>{#items}
        <tr>
          <td><b><a href="{cmg_id}.html">{cmg_id}</a></b></td>
          <td><a href="{cmg_id}.html">{name}</a></td>
          <td>{notes}</td>
        </tr>{/items}
      </tbody>
    </table>
    {?formats}
    <br>
    <h4>Other formats</h4>
    <ul>{#formats}
      <li><a href="cmgroups.{.}">{.}</a></li>
      {/formats}
    </ul>
    {:else}
    {/formats}
  </body>
</html>
