<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <style>
      body {font-family: monospace; background-color: #f6f6f6;}
      .hdr {position: fixed; top: 8px; left: 8px;}
      table {width: 100%;}
      td {text-align: center; padding: 8px;}
    </style>
  </head>
  <body>
    <div class='hdr'>
      <h1>{title}</h1>
      <p>{notes}</p>
    </div>
    <table>
      <tbody>{#items} 
        <tr>
          <td>{.|s}</td>
        </tr>{/items}
      </tbody>
    </table>
  </body>
</html>
