<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <style>
      body {font-family: monospace;}
      table {
        margin: auto;
        width: {size}px;
      }
      td {
        padding-top: 24px;
        padding-bottom: 8px;
      }
      .header {
        position: fixed;
        top: 8px;
        left: 8px;
      }
      .cell {position: relative;}
      .cid {
        position: absolute;
        bottom: 8px;
        right: 8px;
        padding: 24px;
      }
    </style>
  </head>
  <body>
    <table>
      <tbody>{#items}
        <tr>
          <td>
            <div class="cell">
              {image|s}
              <div class='cid'>{cid}</div>
            </div>
          </td>
        </tr>{/items}
      </tbody>
    </table>
    <div class='header'>
      <h1>{title}</h1>
      <p>{notes}</p>
    </div>
  </body>
</html>
